@media screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: calc(18.75px);
  }
}
.main1 {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
}
.main_erweima {
  width: 2.5rem;
  height: 3.125rem;
  float: left;
}
.main_erweima a {
  display: block;
  width: 1.40625rem;
  height: 1.40625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.3125rem;
}
.main_erweima img {
  display: inline-block;
  width: 100%;
}
.main_i {
  display: block;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0.9375rem auto;
  background: url("../image/icon.png") 0.3125rem 0.15625rem;
  background-size: 8.34375rem 2.5625rem;
}
.main_ulFlex {
  width: 100%;
  display: flex;
}
.main_liFlex {
  height: 4.625rem;
  line-height: 4.625rem;
  text-align: center;
  flex: 1;
}
.main_p {
  margin-top: -1.875rem;
  margin-left: 0.3125rem;
  font-size: 0.8125rem;
}
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
  height:100%;
  overflow

}
a,
a:hover {
  color: #333;
}
body {
  font-family: "宋体";
}
body {
  background: #f5f5f5;
  height:100%;
  overflow:auto;
}
.header {
  width: 100%;
  height: 2.78125rem;
  padding: 0 0.625rem;
  background: #000000;
  box-sizing: border-box;
  position: relative;
}
.header i {
  display: inline-block;
  width: 0.78125rem;
  height: 1.125rem;
  color: #ffffff;
  position: absolute;
  top: 0.5rem;
}
.header i:first-child {
  left: 0.46875rem;
}
.header i:last-child {
  right: 0.625rem;
}
.header .back {
  display: inline-block;
  font-size: 1rem;
  color: #ffffff;
  margin: 0.875rem 0 0 1.1875rem;
  box-sizing: border-box;
  float: left;
}
.header h2 {
  height: 2.78125rem;
  line-height: 2.78125rem;
  text-align: center;
  transform: translateX(-8%);
  color: #ffffff;
  font-size: 1.125rem;
}
/*主体*/
.main {
  width: 100%;
}
.main .intro {
  width: 100%;
  height: 7.65625rem;
  margin: 0.5625rem auto 0;
  padding: 0 0.625rem;
  box-sizing: border-box;
  background: url("../image/h_bg.png");
  background-size: calc(338px) calc(121px);
  background-clip: content-box;
}
.main .intro_t {
  width: 100%;
  height: 5.625rem;
  color: #ffffff;
  padding-top: 0.78125rem;
  box-sizing: border-box;
  overflow: hidden;
}
.main .intro_t .intro_l a {
  display: inline-block;
  width: 3.34375rem;
  height: 3.40625rem;
  border: 9px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 0.1875rem 0 0.625rem;
  float: left;
}
.main .intro_t .intro_l a img {
  display: inline-block;
  width: 100%;
}
.main .intro_t .in_b {
  float: left;
  margin-top: 0.46875rem;
}
.main .intro_t .in_b p {
  height: 1.28125rem;
  font-size: 0.375rem;
}
.main .intro_t .in_r {
  width: 5.25rem;
  height: 3.75rem;
  float: right;
}
.main .intro_t .in_r .erweima {
  width: 2.5rem;
  height: 3.125rem;
  float: left;
}
.main .intro_t .in_r .erweima a {
  display: block;
  width: 1.40625rem;
  height: 1.40625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.3125rem;
}
.main .intro_t .in_r .erweima img {
  display: inline-block;
  width: 100%;
}
.main .intro_t .in_r .edit {
  width: 2.5rem;
  height: 3.125rem;
  float: left;
}
.main .intro_t .in_r .edit a {
  display: block;
  width: 1.40625rem;
  height: 1.40625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.3125rem;
}
.main .intro_t .in_r .edit img {
  display: inline-block;
  width: 100%;
}
.main .intro_t .in_r .edit i {
  margin-left: 0.3125rem;
}
.main .intro_b {
  width: 100%;
}
.main .intro_b p {
  color: #ffffff;
  font-size: 0.375rem;
  margin-left: 0.9375rem;
}
.main .wen {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 1.09375rem;
  padding-left: 1.5625rem;
}
.main .wen p {
  height: 1.5rem;
}
.main .answers {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
  height: 5.25rem;
}
.main .answers ul {
  width: 100%;
  display: flex;
}
.main .answers li {
  height: 4.625rem;
  line-height: 4.625rem;
  text-align: center;
  flex: 1;
}
.main .answers li:nth-child(2) i {
  background-position: 6.9375rem 0.15625rem;
}
.main .answers i {
  display: block;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0.9375rem auto;
  background: url("../image/icon.png") 0.3125rem 0.15625rem;
  background-size: 8.34375rem 2.5625rem;
}
.main .answers p {
  margin-top: -1.875rem;
  margin-left: 0.3125rem;
  font-size: 0.8125rem;
}
.main .pay {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 2.5rem;
  height: 3.75rem;
}
.main .pay i {
  display: block;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0.9375rem auto;
  float: left;
  background: url("../image/icon.png") 0.3125rem 0.15625rem;
  background-size: 8.34375rem 2.5625rem;
  margin-left: -1.09375rem;
  margin-top: 0.9375rem;
}
.main .pay p {
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 0.9375rem;
}
/*底部*/
.footer {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 3.125rem;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer ul {
  width: 100%;
  display: flex;
}
.footer li {
  height: 4.625rem;
  line-height: 4.625rem;
  text-align: center;
  flex: 1;
}
.footer i {
  display: block;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0.9375rem auto;
  background: url("../image/icon.png") 0.3125rem 0.15625rem;
  background-size: 8.34375rem 2.5625rem;
  margin: 0.3125rem auto;
}
.footer p {
  margin-top: -1.875rem;
  margin-left: 0.3125rem;
  font-size: 0.8125rem;
}
