.main1 {
  width: 90%;
  height: 4.625rem;
  background: #ffffff;
  border: 1px solid #666;
  margin: 0.625rem auto;
  box-sizing: border-box;
  border-radius: 5px;
}
.main_erweima {
  width: 2.5rem;
  height: 3.125rem;
  float: left;
}
.main_erweima a {
  display: block;
  width: 1.40625rem;
  height: 1.40625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.3125rem;
}
.main_erweima img {
  display: inline-block;
  width: 100%;
}
.main_i {
  display: block;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0.9375rem auto;
  background: url("../image/icon.png") 0.3125rem 0.15625rem;
  background-size: 8.34375rem 2.5625rem;
}
.main_ulFlex {
  width: 100%;
  display: flex;
}
.main_liFlex {
  height: 4.625rem;
  line-height: 4.625rem;
  text-align: center;
  flex: 1;
}
.main_p {
  margin-top: -1.875rem;
  margin-left: 0.3125rem;
  font-size: 0.8125rem;
}
