@import "adapter.less";
@import "adapter.less";
@import "variable.less";
@import "reset.less";

body {
  background: @bodyBg;
}

.header {
  width: 100%;
  height: (89rem/32);
  padding: 0 (20rem/32);
  background: @black;
  box-sizing: border-box;
  position: relative;
  i {
    display: inline-block;
    width: (25rem/32);
    height: (36rem/32);
    color: @write;
    position: absolute;
    top: 16rem/32;
    &:first-child {
      left: 15rem/32;
    }
    &:last-child {
      right: 20rem/32;
    }
  }
  .back {
    display: inline-block;
    font-size: 32rem/32;
    color: @write;
    margin: 28rem/32 0 0 38rem/32;
    box-sizing: border-box;
    float: left;
  }
  h2 {
    height: (89rem/32);
    line-height: (89rem/32);
    text-align: center;
    transform: translateX(-8%);
    color: @write;
    font-size: 36rem/32;
  }
}

/*主体*/
.main {
  width: 100%;
  .intro {
    width: 100%;
    height: 245rem/32;
    margin: 18rem/32 auto 0;
    padding: 0 20rem/32;
    box-sizing: border-box;
    background: url("../image/h_bg.png");
    background-size: calc(676px / 2) calc(242px / 2);
    background-clip: content-box;
  }
  .intro_t {
    width: 100%;
    height: 180rem/32;
    color: @write;
    padding-top: 25rem/32;
    box-sizing: border-box;
    overflow: hidden;
    .intro_l a {
      display: inline-block;
      width: 107rem/32;
      height: 109rem/32;
      border: 9px solid @intro_tColor;
      border-radius: 50%;
      margin: 0 6rem/32 0 20rem/32;
      float: left;
      img {
        display: inline-block;
        width: 100%;
      }
    }

    .in_b {
      float: left;
      margin-top: 15rem/32;
      p {
        height: 41rem/32;
        font-size: 12rem/32;
      }
    }
    .in_r {
      width: 168rem/32;
      height: 120rem/32;
      float: right;
      .erweima {
        .main_erweima();
      }
      .edit {
        .main_erweima();
        i{
          margin-left: 10rem/32;
        }
      }
    }

  }

  .intro_b {
    width: 100%;
    p {
      color: @write;
      font-size: 12rem/32;
      margin-left: 30rem/32;
    }
  }
  .wen {
    .main1();
    padding-top: 35rem/32;
    padding-left: 50rem/32;
    p {
      height: 48rem/32;
    }
  }
  .answers {
    .main1();
    height: 168rem/32;
    ul {
      .main_ulFlex();
    }
    li {
      .main_liFlex();
    }
    li:nth-child(2) i{
      background-position: 30rem/32 5rem/32;
    }
    i {
      .main_i();
    }
    p {
      .main_p();
    }
  }
  .pay {
    .main1();
    padding: 0 80rem/32;
    height: 120rem/32;
    i {
      .main_i();
      float: left;
      background: url("../image/icon.png") 10rem/32 5rem/32;
      background-size: 267rem/32 82rem/32;
      margin-left: -35rem/32;
      margin-top: 30rem/32;
    }
    p {
      height: 120rem/32;
      line-height: 120rem/32;
      font-size: 30rem/32;
    }
  }
}

/*底部*/
.footer {
  .main1();
  width: 100%;
  height: 100rem/32;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  ul {
    .main_ulFlex();
  }
  li {
    .main_liFlex();
  }
  i {
    .main_i();
    margin: 10rem/32 auto;
  }
  p {
    .main_p();
  }
}
