@bodyBg:#f5f5f5;

@write:#fff;
@black:#000;
//头部
@headerColor:#ff9b25;
//主体
@main_bPrivBorder:#dedede;
@intro_tColor:rgba(0,0,0,.5);

//主体
.main1{
  width: 90%;
  height: 148rem/32;
  background: @write;
  border:1px solid #666;
  margin: 20rem/32 auto;
  box-sizing: border-box;
  border-radius: 5px;
}
//王思聪二维码
.main_erweima{
  width: 80rem/32;
  height: 100rem/32;
  float: left;
  a {
    display: block;
    width: 45rem/32;
    height: 45rem/32;
    margin-bottom: 20rem/32;
    margin-left: 10rem/32;
  }
  img {
    display: inline-block;
    width: 100%;
  }
}
//主体i小图片
.main_i{
  display: block;
  width:60rem/32;
  height:50rem/32;
  margin: 30rem/32 auto;

  background: url("../image/icon.png") 10rem/32 5rem/32;
  background-size:267rem/32 82rem/32;
}
//主题中伸缩盒子
.main_ulFlex{
  width: 100%;
  display: flex;
};
.main_liFlex{
  height: 148rem/32;
  line-height: 148rem/32;
  text-align: center;
  flex: 1;
}
//主体和底部p元素
.main_p{
  margin-top: -60rem/32;
  margin-left: 10rem/32;
  font-size: 26rem/32;

}